<%= stylesheet_link_tag "styles" %>
<div class = "container">
  <%= render "navbar" %>
  <div class ="main-content">
    <h1>New Event</h1>
    <br>
    <%= form_with model: @event do |form| %>
      <div>
        <%= form.label :title %><Br>
        <%= form.text_field :title %>
        <% @event.errors.full_messages_for(:title).each do |message| %>
          <%= message %>
        <% end %>
      </div>
      <div>
        <%= form.label :description %><br>
        <%= form.text_area :description %>
        <% @event.errors.full_messages_for(:description).each do |message| %>
          <%= message %>
        <% end %>
      </div>
      <div>
        <%= form.label :event_date %><br>
        <%= form.datetime_local_field  :event_date %>
        <% @event.errors.full_messages_for(:event_date).each do |message| %>
          <%= message %>
        <% end %>
      </div>
      <div>
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>
