<h1>Login page</h1>
<%= form_for(:session, url:"#create") do |form| %>
  <div>
    <%= form.label :username %><br>
    <%= form.text_field :username %>
  </div>
  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password %>
    <% if flash[:danger] %>
      <div class="danger">
        <%= flash[:danger] %></div>
    <% end %>
  </div>
  <div>
    <br>
    <%= form.submit "Log in"%>
  </div>
<% end %>
