<h1>Login page</h1>
<%= form_for(:session, url:"#create") do |form| %>
  <div>
    <%= form.label :username %><br>
    <%= form.text_field :username %>
  </div>
  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.submit "Log in"%>
  </div>
<% end %>
