<h1>Login page</h1>
<%= form_for :session do |form| %>
  <div>
    <%= form.label :username %><br>
    <%= form.text_field :username %>
  </div>
  <div>
    <%= form.label :password %><br>
    <%= form.text_area :password %>
  </div>
  <div>
    <%= form.submit "Log in"%>
  </div>
<% end %>
