<h1>User home page </h1>
<%if logged_in?%>
  Logged in as <%= current_user.username %><br>
  <br>
<%end%>
<ul>
  <% @posts.each do |p| %>
    <li>
      <%= link_to p.title, p %>
    </li>
  <% end %>
</ul>
<%if logged_in?%>
  <%= link_to "New Post", "posts/new" %>
  <%= link_to("Sign Out", logout_path , method: :destroy) %>
  <br>
<%else%>
  <%= link_to "New User", "users/new" %>
  <%= link_to "Sign In", "sessions/new" %>
<%end%>
